[Unit]
Description=Xa
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/xa/discord-xa/src/index.js

User=xa
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target